widgets {
  display: block;
  position: relative;
}
section {
  display: block;
  min-width: 20rem;
  margin: 0 1rem 1rem 0;
  float: left;
}
section.todo-widget {
  ol { list-style: none; margin: 0; padding: 0; }
}